<h1>All Photos</h1>

<ng-container *ngIf="records">

  <div class="row">
    <div class="col">
      <fi-pagination 
         [data]="pData" 
         (pageRequest)="goToPage($event)"
         (pageSizeRequest)="changePageSize($event)">
      </fi-pagination>
    </div>
  </div>

  <ng-container *ngIf="records.length">

    <div class="row fi-gallery-collection" *ngFor="let row of records">
      <div class="col-xl-3 col-md-4 col-sm-6 col-12" *ngFor="let item of row">
        <figure *ngIf="item">
          <a [routerLink]="['/item',item.identifier]">
            <img class="img-fluid" src="{{getImgSrc(item)}}"></a>
          <figcaption>
          {{getYearDisplay(item)}} 
          </figcaption>
        </figure>
      </div>
    </div>

  </ng-container>

</ng-container>
