<div *ngIf="item && metadata && collection" class="fi-item-detail">

  <div class="fi-img">
    <img class="img-fluid" src="{{getImgSrc()}}">
  </div>

  <div class="fi-info">

    <a class="fi-download" href="{{getOriginalSrc()}}">
      Download original ({{metadata['image-width']}} x {{metadata['image-height']}}, 
      {{metadata['file-size'] | fileSize }})
    </a>

    <p><span class="fi-label">Accession number:</span> {{item.identifier}}</p>

    <p><span class="fi-label">Donated by:</span> 
      {{collection.donorFirstName}} {{collection.donorLastName}}
      (<a href="/collection/{{collection.id}}/items">{{collection.name}} Collection</a>,  
      {{collection.yearMin | yearSpan : collection.yearMax}}, 
      {{collection.itemCount}} items)
    </p>


    <p><span class="fi-label">Year:</span> {{item.yearMin}}</p>


    <p><span class="fi-label">Caption:</span> {{metadata.caption}}</p>
    <p><span class="fi-label">Location:</span> Cedar Falls, IA</p>
    <p><span class="fi-label">Subjects:</span> coming soon</p>
    <p><span class="fi-label">Tags:</span> coming soon</p>
  </div>

  <div class="fi-forum">


  </div>


</div>
