.header1 {
  background: #f1f1f1;
}

nav {
  text-align: right;

  li {
    display: inline-block;
    margin-left: 1em;
  }
}

.img-left, .img-right {
  text-align: center;
}

.img-left:before, .img-right:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}


.timeline {
  background: #e5e5e5;
}

.footer {
  background: blue;
  background-color: rgba(0, 0, 0, 0.6);
}

.photo {
  width: 100%;
}

.img-left, .img-right {
  background-size: cover;
  opacity: .4;
}

.img-left {
  background-position-x: right;
}

.img-right {
  background-position-x: left;
}

.btn-nav-left, .btn-nav-right {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}

.btn-nav-left {
}

.btn-nav-right {
}




