<div class="container-fluid">
  <div class="row header1">
    <div class="col-sm-3">
      Fortepan Iowa
    </div>
    <div class="col-sm-9">
      <nav class="main">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Browse</a></li>
          <li><a href="">News</a></li>
          <li><a href="">About</a></li>
          <li><a href="">fb</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 img-left">
      <button class="btn btn-nav">&lt;</button>
    </div>
    <div class="col-sm-8">
      <img src="/assets/tmp-photo.jpg" class="img-fluid">
    </div>
    <div class="col-sm-2 img-right">
      <button class="btn btn-nav">&gt;</button>
    </div>
  </div>
  <div class="row timeline">
    <div class="col-sm-12">timeline</div>
  </div>
  <div class="row footer">
    <div class="col-sm-12">footer</div>
  </div>
</div>
