.header1 {
  background: #f1f1f1;
}

nav {
  text-align: right;

  li {
    display: inline-block;
    margin-left: 1em;
  }

  .active {
    color: green;
  }
}


.footer {
  background: blue;
  background-color: rgba(0, 0, 0, 0.6);
}

