<!--<div class="container">-->
<div [ngClass]="{'container': !isFluid, 'container-fluid': isFluid}">
  <div class="row fi-header-1">
    <div class="col-3">
      <a href="/">
        <img src="/assets/fi_logo.png" alt="Fortepan Iowa">
      </a>
    </div>
    <div class="col-9">
      <nav>
        <ul>
          <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a></li>
          <li><a routerLinkActive="active" routerLink="/collections">Collections</a></li>
          <li><a routerLinkActive="active" routerLink="/items">Photos</a></li>
          <li><a routerLinkActive="active" routerLink="/contribute">Contribute</a></li>
          <li><a routerLinkActive="active" routerLink="/about">About</a></li>
        </ul>
      </nav>

      <button class="btn btn-link fi-switch-layout" (click)="switchLayout()">Switch to {{newLayout}} layout</button>

    </div>
  </div>
</div>


<div class="container-fluid fi-header-2"></div>

<div [ngClass]="{'container': !isFluid, 'container-fluid': isFluid}">
  <div class="row fi-content">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row fi-footer">
    <div class="col">All images are available for free download under the 
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons 
        (CC-BY-SA 4.0 International) Public License</a>. 
    </div>
  </div>
</div>


