<div class="row">
  <div class="col-sm-3 img-left"  [ngStyle]="setPrevPhoto()">
    <button class="btn btn-nav-left btn-primary" (click)="clickedLeft()">&lt;</button>
  </div>
  <div class="col-sm-6">
    <img [src]="currentPhotoUrl" class="img-fluid photo">
  </div>
  <div class="col-sm-3 img-right" [ngStyle]="setNextPhoto()">
    <button class="btn btn-nav-right btn-primary" (click)="clickedRight()">&gt;</button>
  </div>
</div>
<div class="row timeline">
  <div class="col-sm-12">timeline</div>
</div>

