<div class="fi-pagination row">

  <div class="fi-results col-sm-12">

    <div class="wrapper">

      <span class="results">Items {{data.firstRecord}} - {{data.lastRecord}} of {{data.totalRecords}}</span>

      <nav class="nav-pages" aria-label="pages" *ngIf="data.totalPages > 1">
        <ul class="pagination pagination-sm">
          <li class="page-item">
            <button 
              class="page-link" 
              [ngClass]="{'fi-disabled': data.currentPageNumber === 1}" 
              [disabled]="data.currentPageNumber === 1" 
              (click)="firstPage()">
              first
            </button>
          </li>
          <li class="page-item">
            <button 
              class="page-link" 
              [ngClass]="{'fi-disabled': data.currentPageNumber === 1}" 
              [disabled]="data.currentPageNumber === 1" 
              (click)="prevPage()">
              previous
            </button>
          </li>
          <li class="page-item">
            <button 
              class="page-link" 
              [ngClass]="{'fi-disabled': data.currentPageNumber === data.totalPages}" 
              [disabled]="data.currentPageNumber === data.totalPages" 
              (click)="nextPage()">
              next
            </button>
          </li>
          <li class="page-item">
            <button 
              class="page-link" 
              [ngClass]="{'fi-disabled': data.currentPageNumber === data.totalPages}" 
              [disabled]="data.currentPageNumber === data.totalPages" 
              (click)="lastPage()">
              last
            </button>
          </li>
        </ul>
      </nav>

      <span class="pagesize-label" *ngIf="data.totalPages > 1"> 
        Display
      </span>
      <span class="pagesize-list" *ngIf="data.totalPages > 1"> 
        <select (change)="pageSize($event.target.value)" class="custom-select">
          <option selected>20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>

      </span>

    </div>

  </div>

</div>
