
<div *ngIf="records">

  <div id="fi-gallery-collection" class="row" *ngFor="let r of rows">

    <div class="fi-t42 col-12 col-md col-sm-6" *ngFor="let c of cols">
      <figure>
        <img class="fi-img-thumb img-fluid" src="{{getImageSrc(r, c)}}">
        <figcaption>
        Collection: {{getRecord(r, c)['name']}}

        <br>{{ getRecord(r, c)['year_min'] | yearSpan: getRecord(r, c)['year_max'] }}

        ({{getRecord(r, c)['item_count']}} items)
        </figcaption>
      </figure>
    </div>

  </div>


</div>



