<div *ngIf="recordsGrid.length">

  <p>Displaying records {{firstRecord}}-{{lastRecord}} of {{totalRecords}}</p>
  <p>
  <a [routerLink]="['/collections']">first</a>
  <a [routerLink]="['/collections']">previous</a>
  loop over pages
  <a [routerLink]="getNextLink()">next</a>
  <a [routerLink]="['/collections']">last</a>
  </p>


  <div id="fi-gallery-collection" class="row" *ngFor="let row of recordsGrid">
    <div class="fi-t42 col-12 col-md col-sm-6" *ngFor="let coll of row">
      <figure *ngIf="coll">
        <a [routerLink]="['/collection', coll.id]">
          <img class="fi-img-thumb img-fluid" src="{{getImgSrc(coll)}}"></a>
        <figcaption>
          <a [routerLink]="['/collection', coll.id]">Collection: {{coll.name}}</a>
          <br>{{coll.year_min | yearSpan: coll.year_max }}
          ({{coll.item_count}} items)
        </figcaption>
      </figure>
    </div>
  </div>

</div>

<div *ngIf="!recordsGrid.length">
  no items to display
</div>
