<h1>Collections</h1>

<ng-container *ngIf="records">

  <div class="row">
    <div class="col">
      <fi-pagination 
         [data]="pData" 
         (pageRequest)="goToPage($event)"
         (pageSizeRequest)="changePageSize($event)">
      </fi-pagination>
    </div>
  </div>

  <ng-container *ngIf="records.length">

    <div class="row fi-gallery-collection" *ngFor="let row of records">
      <div class="col-xl-3 col-md-4 col-sm-6 col-12" *ngFor="let coll of row">
        <a *ngIf="coll" [routerLink]="['/collection/', coll.id, 'items']">
          <figure>
            <img class="img-fluid" src="{{getImgSrc(coll)}}">
            <figcaption>
            Collection: {{coll.name}}
            <br>{{coll.yearMin | yearSpan: coll.yearMax }}
            ({{coll.itemCount}} items)
            </figcaption>
          </figure>
        </a>
      </div>
    </div>

  </ng-container>

</ng-container>
